!.gitignore
.DS_Store
*.swp
.build
_build
blib
Build
Makefile.PL
Build.PL
META.*
MYMETA.*
HTTP-OAI-*
local
cpanfile.snapshot
.perl-version
/HTTP-OAI-*
/.build
/_build_params
/Build
/Build.bat
!Build/
!META.json
!LICENSE
